doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title ScrollSpy

    link(rel="stylesheet", href="./index.css")
  body

    nav
      ul
        - for (var i=1; i<5; i++)
          li
            a(href='#section'+i)= 'Section '+i
        a(href="#") Contact
    hr
    main 
      - for (var i=1; i<5; i++)
          section(id='section'+i , data-spy)
            = 'Section '+i




    script(src="./index.js") 